In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
plt.close('all')

In [5]:
shake = pd.read_csv(r"C:\Users\Eric\Documents\EECS 731\Project 2\data\archive\Shakespeare_data.csv")

In [6]:
shake.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [7]:
shake

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [8]:
players = shake[['Play', 'Player']]

In [9]:
players

                  Play         Player
0             Henry IV            NaN
1             Henry IV            NaN
2             Henry IV            NaN
3             Henry IV  KING HENRY IV
4             Henry IV  KING HENRY IV
...                ...            ...
111391  A Winters Tale        LEONTES
111392  A Winters Tale        LEONTES
111393  A Winters Tale        LEONTES
111394  A Winters Tale        LEONTES
111395  A Winters Tale        LEONTES

[111396 rows x 2 columns]

In [10]:
players.groupby('Player')['Play'].count()

Player
A Lord                1
A Patrician           4
A Player              4
AARON               375
ABERGAVENNY          18
                   ...
Young MARCIUS         2
of BUCKINGHAM        14
of King Henry VI     10
of Prince Edward     10
of young Princes     11
Name: Play, Length: 934, dtype: int64

In [11]:
play = shake['Play'].unique()

In [12]:
play

array(['Henry IV', 'Henry VI Part 1', 'Henry VI Part 2',
       'Henry VI Part 3', 'Alls well that ends well', 'As you like it',
       'Antony and Cleopatra', 'A Comedy of Errors', 'Coriolanus',
       'Cymbeline', 'Hamlet', 'Henry V', 'Henry VIII', 'King John',
       'Julius Caesar', 'King Lear', 'Loves Labours Lost', 'macbeth',
       'Measure for measure', 'Merchant of Venice',
       'Merry Wives of Windsor', 'A Midsummer nights dream',
       'Much Ado about nothing', 'Othello', 'Pericles', 'Richard II',
       'Richard III', 'Romeo and Juliet', 'Taming of the Shrew',
       'The Tempest', 'Timon of Athens', 'Titus Andronicus',
       'Troilus and Cressida', 'Twelfth Night', 'Two Gentlemen of Verona',
       'A Winters Tale'], dtype=object)

In [13]:
lines = shake[['Play', 'Player', 'PlayerLine']]

In [14]:
lines

,Play,Player,PlayerLine
0,Henry IV,NaN,ACT I
1,Henry IV,NaN,SCENE I. London. The palace.
2,Henry IV,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,Henry IV,KING HENRY IV,"So shaken as we are, so wan with care,"
4,Henry IV,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...
111391,A Winters Tale,LEONTES,"Lead us from hence, where we may leisurely"
111392,A Winters Tale,LEONTES,Each one demand an answer to his part
111393,A Winters Tale,LEONTES,Perform'd in this wide gap of time since first
111394,A Winters Tale,LEONTES,We were dissever'd: hastily lead away.
111395,A Winters Tale,LEONTES,Exeunt

In [15]:
hamletOnly = lines[lines.Play == 'Hamlet']

In [16]:
hamletOnly

,Play,Player,PlayerLine
32432,Hamlet,CYMBELINE,ACT I
32433,Hamlet,CYMBELINE,SCENE I. Elsinore. A platform before the castle.
32434,Hamlet,CYMBELINE,FRANCISCO at his post. Enter to him BERNARDO
32435,Hamlet,BERNARDO,Who's there?
32436,Hamlet,FRANCISCO,"Nay, answer me: stand, and unfold yourself."
...,...,...,...
36671,Hamlet,PRINCE FORTINBRAS,Speak loudly for him.
36672,Hamlet,PRINCE FORTINBRAS,Take up the bodies: such a sight as this
36673,Hamlet,PRINCE FORTINBRAS,"Becomes the field, but here shows much amiss."
36674,Hamlet,PRINCE FORTINBRAS,"Go, bid the soldiers shoot."
36675,Hamlet,PRINCE FORTINBRAS,"A dead march. Exeunt, bearing off the dead bod..."

In [17]:
# From https://pytorch.org/tutorials/beginner/text_sentiment_ngrams_tutorial.html

In [2]:
import torch

In [4]:
import torchtext

In [27]:
from torchtext import data

In [5]:
from torchtext.datasets import text_classification

In [6]:
NGRAMS = 2

In [7]:
import os

In [30]:
# train_dataset, test_dataset = text_classification.DATASETS['AG_NEWS'](
#    root='./.data', ngrams=NGRAMS, vocab=None)
if not os.path.isdir('./.data'):
    os.mkdir('./.data')
train_dataset, test_dataset = data.TabularDataset(
    path=r'./data/archive/Shakespeare_data.csv', format='csv',
    fields=[('Play', data.Field()),
            ('Player', data.Field()),
            ('PlayerLine', data.Field())])

ValueError: too many values to unpack (expected 2)

In [9]:
BATCH_SIZE = 16

In [10]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [11]:
import torch.nn as nn
import torch.nn.functional as F
class TextSentiment(nn.Module):
    def __init__(self, vocab_size, embed_dim, num_class):
        super().__init__()
        self.embedding = nn.EmbeddingBag(vocab_size, embed_dim, sparse=True)
        self.fc = nn.Linear(embed_dim, num_class)
        self.init_weights()

    def init_weights(self):
        initrange = 0.5
        self.embedding.weight.data.uniform_(-initrange, initrange)
        self.fc.weight.data.uniform_(-initrange, initrange)
        self.fc.bias.data.zero_()

    def forward(self, text, offsets):
        embedded = self.embedding(text, offsets)
        return self.fc(embedded)

In [12]:
VOCAB_SIZE = len(train_dataset.get_vocab())
EMBED_DIM = 32
NUN_CLASS = len(train_dataset.get_labels())
model = TextSentiment(VOCAB_SIZE, EMBED_DIM, NUN_CLASS).to(device)

In [13]:
def generate_batch(batch):
    label = torch.tensor([entry[0] for entry in batch])
    text = [entry[1] for entry in batch]
    offsets = [0] + [len(entry) for entry in text]
    # torch.Tensor.cumsum returns the cumulative sum
    # of elements in the dimension dim.
    # torch.Tensor([1.0, 2.0, 3.0]).cumsum(dim=0)

    offsets = torch.tensor(offsets[:-1]).cumsum(dim=0)
    text = torch.cat(text)
    return text, offsets, label

In [14]:
from torch.utils.data import DataLoader

def train_func(sub_train_):

    # Train the model
    train_loss = 0
    train_acc = 0
    data = DataLoader(sub_train_, batch_size=BATCH_SIZE, shuffle=True,
                      collate_fn=generate_batch)
    for i, (text, offsets, cls) in enumerate(data):
        optimizer.zero_grad()
        text, offsets, cls = text.to(device), offsets.to(device), cls.to(device)
        output = model(text, offsets)
        loss = criterion(output, cls)
        train_loss += loss.item()
        loss.backward()
        optimizer.step()
        train_acc += (output.argmax(1) == cls).sum().item()

    # Adjust the learning rate
    scheduler.step()

    return train_loss / len(sub_train_), train_acc / len(sub_train_)

def test(data_):
    loss = 0
    acc = 0
    data = DataLoader(data_, batch_size=BATCH_SIZE, collate_fn=generate_batch)
    for text, offsets, cls in data:
        text, offsets, cls = text.to(device), offsets.to(device), cls.to(device)
        with torch.no_grad():
            output = model(text, offsets)
            loss = criterion(output, cls)
            loss += loss.item()
            acc += (output.argmax(1) == cls).sum().item()

    return loss / len(data_), acc / len(data_)

In [15]:
import time
from torch.utils.data.dataset import random_split
N_EPOCHS = 5
min_valid_loss = float('inf')

criterion = torch.nn.CrossEntropyLoss().to(device)
optimizer = torch.optim.SGD(model.parameters(), lr=4.0)
scheduler = torch.optim.lr_scheduler.StepLR(optimizer, 1, gamma=0.9)

train_len = int(len(train_dataset) * 0.95)
sub_train_, sub_valid_ = \
    random_split(train_dataset, [train_len, len(train_dataset) - train_len])

for epoch in range(N_EPOCHS):

    start_time = time.time()
    train_loss, train_acc = train_func(sub_train_)
    valid_loss, valid_acc = test(sub_valid_)

    secs = int(time.time() - start_time)
    mins = secs / 60
    secs = secs % 60

    print('Epoch: %d' %(epoch + 1), " | time in %d minutes, %d seconds" %(mins, secs))
    print(f'\tLoss: {train_loss:.4f}(train)\t|\tAcc: {train_acc * 100:.1f}%(train)')
    print(f'\tLoss: {valid_loss:.4f}(valid)\t|\tAcc: {valid_acc * 100:.1f}%(valid)')

Epoch: 1  | time in 0 minutes, 8 seconds
	Loss: 0.0261(train)	|	Acc: 84.6%(train)
	Loss: 0.0002(valid)	|	Acc: 89.2%(valid)
Epoch: 2  | time in 0 minutes, 8 seconds
	Loss: 0.0118(train)	|	Acc: 93.7%(train)
	Loss: 0.0002(valid)	|	Acc: 90.6%(valid)
Epoch: 3  | time in 0 minutes, 8 seconds
	Loss: 0.0068(train)	|	Acc: 96.4%(train)
	Loss: 0.0003(valid)	|	Acc: 90.2%(valid)
Epoch: 4  | time in 0 minutes, 8 seconds
	Loss: 0.0039(train)	|	Acc: 98.1%(train)
	Loss: 0.0003(valid)	|	Acc: 90.8%(valid)
Epoch: 5  | time in 0 minutes, 8 seconds
	Loss: 0.0023(train)	|	Acc: 99.0%(train)
	Loss: 0.0003(valid)	|	Acc: 91.3%(valid)

In [16]:
print('Checking the results of test dataset...')
test_loss, test_acc = test(test_dataset)
print(f'\tLoss: {test_loss:.4f}(test)\t|\tAcc: {test_acc * 100:.1f}%(test)')

Checking the results of test dataset...
	Loss: 0.0002(test)	|	Acc: 91.2%(test)

In [17]:
import re
from torchtext.data.utils import ngrams_iterator
from torchtext.data.utils import get_tokenizer

ag_news_label = {1 : "World",
                 2 : "Sports",
                 3 : "Business",
                 4 : "Sci/Tec"}

def predict(text, model, vocab, ngrams):
    tokenizer = get_tokenizer("basic_english")
    with torch.no_grad():
        text = torch.tensor([vocab[token]
                            for token in ngrams_iterator(tokenizer(text), ngrams)])
        output = model(text, torch.tensor([0]))
        return output.argmax(1).item() + 1

ex_text_str = "MEMPHIS, Tenn. – Four days ago, Jon Rahm was \
    enduring the season’s worst weather conditions on Sunday at The \
    Open on his way to a closing 75 at Royal Portrush, which \
    considering the wind and the rain was a respectable showing. \
    Thursday’s first round at the WGC-FedEx St. Jude Invitational \
    was another story. With temperatures in the mid-80s and hardly any \
    wind, the Spaniard was 13 strokes better in a flawless round. \
    Thanks to his best putting performance on the PGA Tour, Rahm \
    finished with an 8-under 62 for a three-stroke lead, which \
    was even more impressive considering he’d never played the \
    front nine at TPC Southwind."

vocab = train_dataset.get_vocab()
model = model.to("cpu")

print("This is a %s news" %ag_news_label[predict(ex_text_str, model, vocab, 2)])

This is a Sports news